@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row jumbotron">
        <div class="col-md-7">
        </div>
        <div class="col-md-5">
            <div class="text-center mt-3">
                <div class="row">
                    <blockquote class="blockquote">
                        <h1 class="display-3 mb-0 text-capitalize text-center">Shop Rubik</h1>
                        <footer class="blockquote-footer">
                            <p>Wellcome!!!</p>
                        </footer>
                    </blockquote>
                    <hr />
                </div>
                <div class="row">
                    <p class="text-center p-3">Some text Some text Some text Some text Some text Some text Some text Some text  Some text Some text Some text Some text Some text Some text Some text</p><hr />
                </div>
                <div class="row">
                    <button type="button" class="btn btn-dark text-center mx-auto">
                        <a class="text-white" asp-area="" asp-controller="Product" asp-action="Index">Shop now</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Philosophy</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pulvinar vel metus in vestibulum. Cras placerat libero at quam scelerisque rhoncus. Nam porta, orci eu maximus consequat, leo lectus lacinia neque, non mattis lorem nisi non ligula. Aliquam tristique enim at turpis euismod, vitae iaculis turpis gravida.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>History</h2>
        <p>Pellentesque convallis mi at ex aliquet, quis condimentum lacus efficitur. Maecenas at dolor mattis sem vestibulum blandit. Donec pretium, nisl ut interdum fringilla, tellus justo pharetra neque, in porttitor tortor orci a urna. Vivamus at mauris mauris. Etiam nec orci vitae nisi laoreet efficitur. Maecenas rhoncus justo tellus, ut lacinia lacus mollis non.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>People</h2>
        <p>Phasellus molestie egestas lorem, ut imperdiet mauris auctor quis. In lacinia, mi non imperdiet suscipit, odio metus facilisis nunc, sit amet consequat lectus tellus at orci. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>